In [3]:
#!pip install earthpy

In [4]:
# Import necessary packages
from matplotlib.axes._axes import _log as matplotlib_axes_logger
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import earthpy as et

# Handle date time conversions between pandas and matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Dealing with error thrown by one of the plots
matplotlib_axes_logger.setLevel('ERROR')
import warnings
warnings.filterwarnings('ignore')


# Adjust font size and style of all plots in notebook with seaborn
sns.set(font_scale=1.5, style="whitegrid")

Download flood data from directory using earthpy

In [5]:
data = et.data.get_data('colorado-flood')

Downloading from https://ndownloader.figshare.com/files/16371473
Extracted output to /Users/Mike.McIntire/earth-analytics/data/colorado-flood/.

In [6]:
os.chdir(os.path.join(et.io.HOME, 'training','earth_lab_training', 'colorado-flood'))

In [9]:
os.getcwd()

'/Users/Mike.McIntire/training/earth_lab_training/colorado-flood'

In [10]:
file_path = os.path.join("precipitation",
                         "805325-precip-daily-2003-2013.csv")

boulder_precip_2003_2013 = pd.read_csv(file_path)
boulder_precip_2003_2013.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HPCP,Measurement Flag,Quality Flag
0,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030101 01:00,0.0,g,
1,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030201 01:00,0.0,g,
2,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030202 19:00,0.2,,
3,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030202 22:00,0.1,,
4,COOP:050843,BOULDER 2 CO US,1650.5,40.03389,-105.28111,20030203 02:00,0.1,,